@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Open+Sans:wght@300&family=Rajdhani:wght@500&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Open+Sans:wght@300&family=Rajdhani:wght@500&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:ital,wght@0,500;1,400&family=Open+Sans:wght@300&family=Rajdhani:wght@500&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fjalla+One&family=Montserrat:ital,wght@0,500;1,400&family=Open+Sans:wght@300&family=Playfair+Display:wght@500&family=Rajdhani:wght@500&family=Roboto+Condensed&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

html {
  width: 100%;
}

/* navigation/header*/
header {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 20px 8%;
}

nav .logo {
  width: 200px;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 13px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.navs a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
}

.navs a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: darkorange;
  transition: 0.3s ease-in-out 0s;
}

.navs a:hover::after {
  width: 100%;
}
#home {
  color: darkorange;
}

#home::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: black;
  transition: 0.3s ease-in-out;
}

#home:hover::after {
  width: 100%;
}

.welcome-text {
  text-align: center;
  outline: 3px solid;
  background-color: rgb(0, 0, 0, 0.2);
  padding: 1em;
  -webkit-animation: colorchange 10s infinite alternate;
}
@-webkit-keyframes colorchange {
  10% {
    color: black;
  }
  60% {
    color: #98c1d9;
  }
  30% {
    color: darkorange;
  }
}

.welcome-text h1 {
  font-size: 3em;
  font-weight: 600;
  font-family: "Sanchez";
}
.welcome-text p {
  font-size: 2em;
  font-family: "Sanchez";
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: contain;
  width: 100%;
}

/* 1st */

.container {
  width: 100%;
  height: 120vh;
  padding-top: 1rem;
}

span {
  font-weight: bold;
  color: darkorange;
}

.more-about {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  padding: 5rem 3rem;
}

.more-about img {
  width: 30vw;
  box-shadow: 0 0 2rem rgb(0 0 0 / 0.5);
}

.more-about p {
  padding: 1rem;
  margin: 5rem;
  font-size: 26px;
  letter-spacing: 1px;
  border: 1px solid;
  background-color: #98c1d9;
  border: none;
  box-shadow: -5px 10px 5px rgb(0 0 0 / 0.5);
}

.more-about p:hover {
  box-shadow: -8px 10px 5px darkorange;
  transition: 0.3s ease-in-out;
}

.more-about2 {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 2rem 3rem;
}

.more-about2 img {
  width: 30vw;
  box-shadow: 0 0 2rem rgb(0 0 0 / 0.5);
}

.more-about2 p {
  padding: 1rem;
  margin: 5rem;
  font-size: 26px;
  letter-spacing: 1px;
  border: 1px solid;
  background-color: #98c1d9;
  border: none;
  box-shadow: -5px 10px 5px rgb(0 0 0 / 0.5);
}

.more-about2 p:hover {
  box-shadow: -8px 10px 5px darkorange;
  transition: 0.3s ease-in-out;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn button {
  height: 3rem;
  width: 10rem;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn button:hover {
  transition: 0.3s ease;
  color: darkorange;
  border: 2px darkorange solid;
}

/* 2nd */
.container-2 {
  width: 100%;
  height: 120vh;
  padding: 10rem 0px;
}

.sub-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 800px;
  background-image: url("../images/bgimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.title-middle {
  display: flex;
  align-items: center;
  text-align: center;
}

.title-middle h1 {
  font-size: 3em;
  text-shadow: 5px 5px 5px black;
  font-family: "Comfortaa";
  color: #98c1d9;
  width: 50%;
  background-color: rgb(0, 0, 0, 0.2);
  margin: 0px 1rem;
  padding: 1rem;
  border-radius: 20px;
}

/* 3rd */
.container-3 {
  width: 100%;
  height: 120vh;
  display: grid;
  place-content: center;
  margin-top: 5rem;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: "Montserrat ";
  text-transform: uppercase;
  font-weight: bold;
  color: darkorange;
}

.sub-container-2 {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2em;
  margin-top: 4rem;
  place-items: center;
}

.services-container {
  width: 300px;
}

figure {
  display: inline-block;
  cursor: pointer;
}

figure img {
  width: 100%;
  height: 300px;
  border-radius: 3px;
}

.services-btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0px;
  align-items: center;
}

.services-btn a {
  width: 50%;
  height: 3rem;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

.services-btn button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
}

.services-container figure {
  transition: transform 0.3s;
}

.services-container figure:hover {
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

.services-btn button {
  font-size: 20px;
  font-family: "Fjalla One";
  border: 2px solid;
  background-color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

/* 4th */

.container-4 {
  width: 100%;
  height: 100vh;
  padding: 10rem 0px;
  background-color: #3d5a80;
}

.sub-container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container-4 h2 {
  color: #98c1d9;
  text-shadow: -4px 3px 1px darkorange;
  font-size: 4em;
  width: 100%;
}

.title-container-4 h3 {
  color: #98c1d9;
  text-shadow: -4px 3px 1px darkorange;
  font-size: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekdays-cols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.box {
  width: 12%;
  border: 2px solid;
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  height: 3rem;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.days {
  font-weight: bold;
  font-size: 18px;
  font-family: "Comfortaa";
}

.box:hover {
  color: white;
  background-color: darkorange;
  transition: 0.3s ease-in-out;
}

.btn-reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 auto;
  border: none;
}

.btn-reserved button {
  width: 100%;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat";
  border-radius: 3px;
  font-weight: bold;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-reserved a {
  width: 15%;
}

.btn-reserved button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
  border: 1px white;
}

/* 5th */
.container-5 {
  width: 100%;
  height: 110vh;
  padding-top: 10rem;
}

.faqs-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 3em;
  letter-spacing: 1px;
}

.sub-container-5 {
  width: 100%;
  height: 100vh;
}

.faqs-container {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  gap: 2em;
  margin: 1rem 0px;
}

.rows {
  width: 300px;
  height: 250px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98c1d9;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
}

.rows:hover {
  box-shadow: -1px 1px 20px 5px darkorange;
  transition: 0.3s ease;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  font-family: "Fjalla One";
  font-weight: lighter;
}

.faqs-btn {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.faqs-btn a {
  display: grid;
  place-content: center;
  text-decoration: none;
}

.btn-cols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.btn-cols a {
  width: 300px;
}

.btn-cols button {
  width: 10rem;
  height: 3em;
  border-radius: 3px;
  font-family: "Comfortaa";
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkorange;
}

.btn-cols button:hover {
  box-shadow: 0 4px 10px -2px black;
}

/* 7th */
.container-6 {
  width: 100%;
  padding: 2rem 0px;
  background-color: #3d5a80;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.form-title {
  display: grid;
  justify-content: center;
  align-items: center;
}

.form-title h5 {
  text-align: center;
  font-size: 3em;
  font-family: "Montserrat";
}

.form-title p {
  text-align: center;
  font-size: 22px;
  font-family: "Sanchez";
  line-height: 1.5em;
}

.form-container {
  width: 100%;
  height: 600px;
}

form {
  margin: 3rem 5rem;
  border: 2px solid;
  height: 500px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: -8px 5px 8px 5px;
}

label {
  color: black;
}

input[type="text"] {
  padding: 10px;
  margin: 5px 0px;
  width: 100%;
  border: 2px solid;
  height: 55px;
  font-family: "Montserrat";
  display: inline-block;
  border-radius: 5px;
}

input[type="email"] {
  padding: 10px;
  margin: 5px 0px;
  width: 100%;
  border: 2px solid;
  height: 55px;
  font-family: "Montserrat";
  display: inline-block;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  border: 2px solid;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  font-family: "Montserrat";
  margin: 5px 0px;
  resize: none;
}

form button {
  padding: 10px;
  margin: 3px 0px;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  border: 2px solid;
  font-family: "Fjalla";
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

form button:hover {
  background-color: darkorange;
  transition: 0.3s ease;
}

/* back to top */

.container-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.back-to-top button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  background-color: white;
  font-family: "Sanchez";
  transition: 0.3s ease-in-out;
}

.back-to-top button:hover {
  transition: 0.3s ease-in-out;
  color: white;
  background-color: black;
}

/* Footer */

footer {
  padding: 2rem 4rem;
  margin-top: 20rem;
  height: 30vh;
  background-color: darkorange;
}

.ftr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p {
  line-height: 1.7em;
  font-family: "Sanchez";
}

.info p:hover {
  color: #98c1d9;
  transition: 0.1s ease;
}

.info a {
  text-decoration: none;
  color: black;
}

.info a:hover {
  color: #98c1d9;
  transition: 0.1s ease;
}

.socmed li {
  display: inline-block;
  margin: 0px 0.75rem;
  cursor: pointer;
}

.fa-brands {
  transition: 0.3s ease;
}

.fa-brands:hover {
  color: #98c1d9;
  content: "";
  transition: 0.3s ease;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5em;
}
